<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<div id="product">
  <h2 id="productName"></h2>
  <p id="productPrice"></p>
  <p id="productDesc"></p>
  <p id="productInv"></p>
</div>

<script type='text/javascript' charset='utf-8'>
  $(function () {
    $('#new_product').submit(function (e) {
      e.preventDefault();
      let values = $(this).serialize();
      let posting = $.post('/products', values);
      posting.done(function (data) {
        let post = data;
        $('#productName').text(post['name']);
        $('#productPrice').text(post['price']);
        $('#productDesc').text(post['description']);
        $('#productInv').text(post['inventory']);
      });
    });
  });
</script>